@import "./button-menu.css";
@import "./link-menu.css";

.header {
  block-size: 59px;
  inline-size: 100vw;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.header .logo a {
  font: var(--fontLogo);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}
nav {
  position: absolute;
  top: 59px;
  right: 0;
  background-color: #000000;
  block-size: calc(100vh - 59px);
  inline-size: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-in, inline-size 0s 0.25s, right 0s 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.show {
  inline-size: 100%;
  opacity: 1;
  transition: opacity 0.25s ease-out, inline-size;
}
