/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@900&display=swap");

/* Components */
@import "./header.css";
@import "./body.css";
@import "./menu.css";

/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --logo: "Roboto", sans-serif;
  --secondFont: "Inter", sans-serif;
  --fontLogo: 900 1.5rem / 1.5rem var(--logo);
  --linkFont: 400 1.5rem / 1.5rem var(--secondFont);
}
* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
